<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="@gravyhtx // Gravy Design Co. design service site for full stack web development">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="canonical" href="https://localhost:3000">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="theme-color" content="#808080">
    {{!-- Link: "/; rel=canonical" --}}
    
    <title>Gravy Design Co. // Web Development</title>

    {{!-- MAIN STYLE --}}
    <link rel="stylesheet" href="css/styles.css">

    {{!-- MATERIALIZE ICONS --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- MATERIALIZE CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{!-- Animate.CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Sen|Open+Sans|Spartan|Sacramento|&display=swap" rel="stylesheet">

    {{!-- AOS --}}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    {{!-- APPLE TOUCH ICON --}}
    <link rel="apple-touch-icon" href="public/images/icons/icon-192x192.png">

    {{!-- FAVICON --}}
    <link rel="shortcut icon" href="public/images/icons/icon-192x192.png" type="image/x-icon">
    <link rel="icon" href="public/images/icons/icon-192x192.png" type="image/x-icon">

</head>

<body>

    <main class="container-fluid" id="top">

        {{{body}}}
        
    </main>

    <div class="sFooter gray" id="footer">
            <div><a href="/"><u><i class="material-icons">keyboard_arrow_up</i></u></a></div>
            <a href="https://github.com/gravyhtx" target="_blank"><img class="socials brighten" src="" data-src="images/gh.png"></a>
            <a href="https://www.behance.net/gravyhtx" target="_blank"><img class="socials brighten" src="" data-src="images/be.png"></a>
            <a href="https://www.linkedin.com/in/andrewrichard88/" target="_blank"><img class="socials brighten" src="" data-src="images/ln.png"></a>
            <a href="https://www.instagram.com/gravyhtx" target="_blank"><img class="socials brighten" src="" data-src="images/in.png"></a>
        

        {{!-- <br><br>Copyright Grävy Design Co MMXX. --}}

        <br>
    </div>

    {{!-- JQUERY --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {{!-- MATERIALIZE JS --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{!-- MATERIALIZE INIT --}}
    <script>M.AutoInit();</script>

    {{!-- AOS --}}
    <script src="https://unpkg.com/aos@2.0.0/dist/aos.js"></script>

    {{!-- AOS INIT  --}}
    <script>AOS.init({
        easing: 'ease-in-out-sine'
      });
    </script>

    {{!-- MAIN JAVASCRIPT --}}
    <script type="text/javascript" src ="/js/index.js"></script>

    {{!-- SERVICE WORKER --}}
    <script>
    if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
        navigator.serviceWorker.register("service-worker.js")
            .then(reg => {
            console.log("Service worker found.", reg);
            });
        });
        }
    </script>


</body>

</html>