

<a href="#introduction">

    <div
        data-aos="fade";
        data-aos-delay="250";
        data-aos-duration="5000";
        class="container-fluid brighten">
        <img class="img-main" src="" data-src="images/gravy_logo.png" alt="Gravy VHS Logo">
    </div>

</a>


<div id="introduction"></div>



{{!-- <div
    data-aos="flip-up";
    data-aos-delay="250";
    data-aos-duration="1250";
    class="intro">

    <br><br>

    <h3><b>Grävy Design Co.</b></h3>
</div> --}}

<br>

<div
    data-aos="zoom-in";
    data-aos-delay="100";
    data-aos-duration="3000";
    data-aos-anchor-placement="top-top"
    class="container">
    
    <div
        data-aos="flip-left";
        data-aos-delay="200";
        data-aos-duration="2000";
        data-aos-anchor-placement="top-top">

        <div class="column-words">
            <br><br>
            Here at <b><u>Grävy Design Co.</u></b> our number one priority is aesthetic design. Function and form are key to our design. Our design projects have included client projects for web development, illustration, product design, and audio production. We are prepared for the challenges of any job we take on with our unique style set to your specifications.
        </div>
    </div>
     
    
    
    <div
        data-aos="flip-right";
        data-aos-delay="400";
        data-aos-duration="2000";
        data-aos-anchor-placement="top-top">
        
        <br><br><br><br>
        <div class="center intro-header"><b>websites.</b></div>
        <br>
        <div class="column-words">
            Our most comprehensive designs featured in our web development projects. We offer mobile-first full stack web development focused on the user experience. Whether you need a beautiful one page site or fully functional GUI enhanced database software, we got you covered.
        </div>
    </div>
    
    <br><br>
    
    <div
        data-aos="flip-left";
        data-aos-delay="600";
        data-aos-duration="2000";
        data-aos-anchor-placement="top-top">

        <div class="center intro-header"><b>clients.</b></div>
        <br>
        <div class="column-words">
            Grävy Design Co. was founded in Houston, TX and we have worked to execute the vision of clients from businesses of all sizes to Houston's premiere rap legends on cover art, promotional materials, and creative direction on music videos. Creative Director and Owner, Andy Richard, began his design career working on apparel for small businesses and grew to work on projects for large corporations and businesses such as Kinder-Morgan, WCA Waste Corporation, Republic Services, and Texan Wire Wheels. Since our 2019 launch we have worked with both signed and independent artists from Houston to New York.
        </div>

        <br><br><br><br><br><br><br><br>
    </div>
        
    <br><br><br><br><br>

</div>



{{!-- <div
    data-aos="zoom-in-down";
    data-aos-delay="250";
    data-aos-duration="2000";
    class="subscribe">
    <a href="/signup" class="btn waves-effect waves-light hit-subscribe">
        Subscribe
    </a>
</div> --}}

<br><br><br>

{{!-- <a href="#mission">
    <div
        data-aos="fade-up";
        data-aos-delay="250";
        data-aos-duration="2500";
        class="learn-more more">
    <b><u>Projects.</u></b>
    </div>
</a> --}}

<br>

<div id="projects"></div>

<div>

    <div class="container-fluid blueish row">

        <div class="words col l12 m7 s12">

            <h3
                data-aos="flip-left";
                data-aos-delay="500";
                data-aos-duration="1000";
                class="mission-statement">
                <b>Projects.</b>
            </h3>

            <div
                data-aos="flip-right";
                data-aos-delay="700";
                data-aos-duration="1500";
                class="lorem-words float-right">
                General Kenobi: Years ago, you served my father in the Clone Wars; now he begs you to help him in his struggle against the Empire. 
                <br>I regret that I am unable to present my father’s request to you in person; but my ship has fallen under attack and I’m afraid my mission
                <br>to bring you to Alderaan has failed. I’ve placed information vital to the survival of the rebellion into the memory systems of this R2 unit.
                <br>My father will know how to retrieve it. You must see this droid safely delivered to him on Alderaan. This is our most desperate hour.
                <br>Help me, Obi-Wan Kenobi; you’re my only hope.
            </div>

            <br>

            <div
                data-aos="fade-down";
                data-aos-delay="800";
                data-aos-duration="2000";
                class="dont-words">
                But don't just take our word for it...
            </div>

            <br><br>

            <div
                data-aos="zoom-in-up";
                data-aos-delay="1000";
                data-aos-duration="2000";
                class="container quote">

                "Coona tee-tocky malia. Bonapa keesa. Tolpa da bunky na booty cha naga o wanna meete chobodda. Bargon wan che copa. Yoka to Bantha poodoo. endee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Du bargon Oga es du bargon macroon tee-tocky.
                Hi chuba du naga? Uba hasa me yocola. Je spee, uba hasa, me yocola. Mendee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Kuba, kayaba dee anko! "

                    <br><br>

                    <div class="rightalign">
                    - Guy Realperson
                    </div>

                </div>

                <br>

            </div>

            <br><br>

            <div></div>

            <div class="col l12 m5 s12">
              
                <br><br><br><br><br><br>

                <div
                    data-aos="zoom-in-right";
                    data-aos-delay="500";
                    data-aos-duration="1000";
                    class="droids">
                    These are not the droids you are looking for.
                </div>

                {{!-- <a href="#featured">
                    <div
                        data-aos="fade-up";
                        data-aos-delay="250";
                        data-aos-duration="2000";
                        class="learn-more more">
                    <h3><u>
                        Featured.
                    </u></h3>
                    </div>
                </a> --}}

                <br><br><br>
                {{!-- <div class="white" id="coffeet";>
                    
                    <br><br><br>

                    <img
                        class="coffeet";
                        data-aos="flip-right";
                        data-aos-delay="500";
                        data-aos-duration="1000";
                        data-aos-anchor-placement="center";
                        alt="test"
                        src="" data-src="images/spg1.jpg">

                    <br><br>

                    <div
                        data-aos="zoom-in-right";
                        data-aos-duration="2000";
                        class="below-coffeet">

                        I find your lack of faith <a href="#huttese">disturbing.</a>

                    </div>
                <br><br><br>
                </div>

                <br><br><br>
                <div id="huttese"></div>
                <br><br><br>

                <div
                    data-aos="flip-left";
                    data-aos-delay="250";
                    data-aos-duration="3000";
                    data-aos-anchor-placement="top-center";
                    class="col s12 huttese">

                    U bah ko ratta kah
                    ba wipa ky is ka
                    chone kawa wookiee.

                    <br>

                </div> --}}
                {{!-- <br>
            </div>

        

            <div
                data-aos="flip-right";
                data-aos-duration="2500";
                class="small-text container float-left col l12 m7 s12">
            <br><br><br>

              Size matters not. Look at me. Judge me by my size do you? And well you should not. For my ally is the force, and a powerful ally it is. Life creates it. Makes it grow. It's energy surrounds us, and binds us. Luminous beings are we, not this crude matter. You must feel the force around you. Here. Between you, and me. The tree. The rock. Everywhere. Even between the land and the ship.

            <br><br><br><br> --}}

            </div>

    </div>

    <br><br><br><br>

</div>


<br><br><br>

<div
    data-aos="flip-left";
    data-aos-duration="3000";
    class="container row col s12"
    id="featured">



    <h3><div
        data-aos="flip-up";
        data-aos-delay="500";
        data-aos-duration="1000";>
        Featured.
        </div></h3>

    <br><br>

    <div
        data-aos="zoom-out";
        data-aos-delay="500";
        data-aos-duration="2000";
        data-aos-anchor-placement="top-center";
         class="col l4 s12">

        <a class="tooltipped" data-position="bottom" data-tooltip="Click here" href="https://justcoffee.herokuapp.com/" target="_blank">
            <b>Just Coffee</b>
        </a>

        <br>        
        Template for a full-stack website subscription service.
        <br><br>

        <div class="brighten">
            <a href="https://justcoffee.herokuapp.com/" target="_blank">
                <img src="" data-src="images/jc01.jpg" alt="Just Coffee thumbnail" class="center block">
            </a>
        </div>

        <br>

        <div
        data-aos="zoom-in-up";
        data-aos-delay="500";
        data-aos-duration="2000";
        class="smaller-text justify">

            This website uses a coffee subscription service as an example for inserting any business model. The site uses a MySQL 
            database with login encryption for a working example of account creation and login. Built on a beautiful Materialize framework, 
            this is a perfect, modern-styled foundation for your next big business idea.

        </div>
    </div>

    <div
        data-aos="zoom-out";
        data-aos-delay="750";
        data-aos-duration="2000";
        data-aos-anchor-placement="top-center";
        class="col l4 s12">

        <a class="tooltipped" data-position="bottom" data-tooltip="Click here" href="https://gravyhtx.github.io/weatherapp/" target="_blank">
            <b>Weather App</b>
        </a>

        <br>
        Weather dashboard with data from the Openweathermap.org API.
        <br><br>

        <div class="brighten">
            <a href="https://gravyhtx.github.io/weatherapp/" target="_blank">
                <img src="" data-src="images/wa1.jpg" alt="WeatherApp thumbnail" class="center block">
            </a>
        </div>

        <br>
        <div
        data-aos="zoom-in-up";
        data-aos-delay="1000";
        data-aos-duration="2000";
        class="smaller-text justify">

            Have you ever wanted to visit your favorite city but don't have the time or money? This app creates the experience
            of travel through imagination. Type in your next destination, click on the city in your dashboard, and enjoy a week
            long weather-based vacation. Experienced my be enhanced by an image search of the chosen municipality.

        </div>
    </div>
      
    <div
        data-aos="zoom-out";
        data-aos-delay="1000";
        data-aos-duration="2000";
        data-aos-anchor-placement="top-center";
        class="col l4 s12">

        <a class="tooltipped" data-position="bottom" data-tooltip="Click here" href="https://gravyhtx.github.io/SPG/" target="_blank">
            <b>Super Password Generator</b>
        </a>

        <br>A simple, stylish random password generator.
        <br><br>
        
        <div class="brighten">
            <a href="https://gravyhtx.github.io/SPG/" target="_blank">
                <img src="" data-src="images/spg1.jpg" alt="SPG thumbnail" class="center block">
            </a>
        </div>

        <br>

        <div
        data-aos="zoom-in-up";
        data-aos-delay="1500";
        data-aos-duration="2000";
        class="smaller-text justify">

            Are you tired of coming up with passwords you can remember? Me too. This app will give you a randomly generated password 
            between 8-128 characters based on your parameters.
            <br><br>
            Parameters include: Lowercase, Uppercase, Numbers, and Symbols.

        </div>

    <br><br><br><br><br>
    
    </div>

</div>

<br>

<div class="center">

    

    <br><br><br><br><br><br>

    <a href="#top"><u>Back to top.</u></a>
    
</div>

<br><br>