<a href="#introduction">
<div class="screen glitch" id="welcome">

    <div
        data-aos="fade";
        data-aos-delay="250";
        data-aos-duration="5000";
        data-aos-anchor-placement="top"
        class="container-fluid brighten" id="logo">
        <img class="img-main clock" src="" data-src="images/gravy_logo.png" alt="Gravy VHS Logo">
    </div>

</div>
</a>


<div id="introduction"></div>

<br><br><br>

<div
    data-aos="zoom-in";
    data-aos-delay="100";
    data-aos-duration="3000";
    data-aos-anchor-placement="center";
    class="container lil-margin zee">

    <div
        data-aos="flip-right";
        data-aos-delay="400";
        data-aos-duration="2000";
        data-aos-anchor-placement="center";>
        
        <div class="intro-header glow"><b>websites.</b></div>

            <div
        data-aos="flip-left";
        data-aos-delay="200";
        data-aos-duration="2000";
        data-aos-anchor-placement="center";>

        <div class="column-words justify">
            Welcome to the Web Development and Design website for <b><u>Grävy Design Co.</u></b> where our number one priority is aesthetic design. We've realized client projects in all digital realms including web development, illustration, product design, and audio production. We are prepared for the challenges of any job we take on with our unique style set to your specifications.
        </div>
    </div>
        
        <div class="column-words justify">
            Our most comprehensive designs are featured in our web development projects. We offer mobile-first, full stack web development focused on UX/UI design. This website serves as an example of a PWA Optimized website and we are proud to offer this feature for your fully integrated web app. Whether you need a beautiful one-page site or fully functional GUI enhanced database software, we got you covered. Click <b><a href="#featured">here</a></b> to see some of our favorite web projects.
        </div>
    </div>
    
    <img class="img-audit center" src="" data-src="images/audit.png" alt="PWA Audit">
    


    <br><br>
    
    <div
        data-aos="flip-left";
        data-aos-delay="600";
        data-aos-duration="2000";
        data-aos-anchor-placement="center";>

        <div class="intro-header glow clients"><b>clients.</b></div>
        
        <div class="column-words justify clients-text" id="clients">
            Grävy Design Co. was founded in Houston, TX and we have worked to execute the vision of clients from businesses of all sizes to Houston's premiere rap legends on cover art, promotional materials, and creative direction on music videos. Creative Director and Owner, Andy Richard, began his design career working on apparel for small businesses and grew to work on projects for large corporations and businesses such as Kinder-Morgan, WCA Waste Corporation, Republic Services, and Texan Wire Wheels. Since our 2019 launch we have worked with both signed and independent artists from Houston to New York.
        </div>

    </div>
        
<br><br>

<div class="clients-text"></div>

</div>


<br>

<div id="projects"></div>

<div>

    <div class="container blueish row">

        <div class="words col l12 m7 s12">

            <h3
                data-aos="flip-left";
                data-aos-delay="500";
                data-aos-duration="1000";
                data-aos-anchor-placement="top";
                class="mission-statement">
                <h3 class="huttese-first">Projects.</h3>
            </h3>

            <div
                data-aos="flip-up";
                data-aos-delay="700";
                data-aos-duration="1500";
                data-aos-anchor-placement="top";
                class="lorem-words float-right">
                We have experience in projects big and small. Our greatest strength as a small, local team is our dedicated focus on each
                of our project. We work on a maximum of only 2 projects at a time so that our clients get our full attention. Because of this
                we emplore you to inquire as soon as possible so that your project can be finished by your deadline as we often have a waitlist
                and we want to work with you as soon as you're ready whenever possible. Please visit our <a class="links" href="#footer"><b><span class="links">links</span></b></a></span>
                at the bottom of this page and send us a message with your name and project details so we can get this process going!
            </div>

            {{!-- <br> --}}

            {{!-- <div
                data-aos="fade-down";
                data-aos-delay="800";
                data-aos-duration="2000";
                data-aos-anchor-placement="top";
                class="dont-words">
                But don't just take our word for it...
            </div>

            <br><br>

            <div
                data-aos="zoom-in-up";
                data-aos-delay="1000";
                data-aos-duration="2000";
                data-aos-anchor-placement="top";
                class="container quote">

                "Coona tee-tocky malia. Bonapa keesa. Tolpa da bunky na booty cha naga o wanna meete chobodda. Bargon wan che copa. Yoka to Bantha poodoo. endee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Du bargon Oga es du bargon macroon tee-tocky.
                Hi chuba du naga? Uba hasa me yocola. Je spee, uba hasa, me yocola. Mendee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Kuba, kayaba dee anko! "

                    <br><br>

                    <div class="rightalign">
                    - Guy Realperson
                    </div>

                </div>

                <br> --}}

            </div>
              
            <br><br>

            <div
                data-aos="zoom-in-right";
                data-aos-delay="500";
                data-aos-duration="1000";
                data-aos-anchor-placement="top";
                class="droids">
                These are not the droids you are looking for.
            </div>

            <br>

    </div>

</div>
<br><br><br><br><br><br>
<div id="featured"></div>

<h3 class="huttese">Web<br>Design.</h3>
<br><br>

<div
    data-aos="zoom-in-up";
    data-aos-duration="3000";
    data-aos-anchor-placement="top";
    class="container row col s12">

    <h3><div
        data-aos="flip-up";
        {{!-- data-aos-delay="500"; --}}
        data-aos-duration="3000";
        data-aos-anchor-placement="top";
        class="glow">
        Featured.
        <br><br>
        </div></h3>


    <div class="row center">

        <div
            data-aos="flip-left";
            data-aos-delay="500";
            data-aos-duration="1000";
            data-aos-anchor-placement="top";
            class="brighten col l4 s12">

            <a href="https://justcoffee.herokuapp.com/" target="_blank">
                <b>Just Coffee</b>
            </a>

            <a href="https://justcoffee.herokuapp.com/" target="_blank">
                <img class="videos tooltipped" data-tooltip="Template for a full-stack website subscription service." src="" data-src="images/jc01.jpg" alt="Just Coffee thumbnail" class="center block">
            </a>
        </div>


        <div
            data-aos="flip-right";
            data-aos-delay="750";
            data-aos-duration="2000";
            data-aos-anchor-placement="top";
            class="brighten col l4 s12">

            <a href="https://gravyhtx.github.io/weatherapp/" target="_blank">
                <b>Weather App</b>
            </a>

            <a href="https://gravyhtx.github.io/weatherapp/" target="_blank">
                <img class="videos tooltipped" data-tooltip="Weather dashboard with data from the Openweathermap.org API." src="" data-src="images/wa1.jpg" alt="WeatherApp thumbnail" class="center block">
            </a>
        </div>


        <div
            data-aos="flip-left";
            data-aos-delay="750";
            data-aos-duration="3000";
            data-aos-anchor-placement="top";
            class="brighten col l4 s12">

            <a href="https://gravyhtx.github.io/SPG/" target="_blank">
                <b>Super Password Generator</b>
            </a>

            <a href="https://gravyhtx.github.io/SPG/" target="_blank">
                <img class="videos tooltipped" data-tooltip="A simple, stylish random password generator." src="" data-src="images/spg1.jpg" alt="SPG thumbnail" class="center block">
            </a>
        </div>

    

    </div>
</div>

<div class="container row col s12">

    <div class="row center">

        <div
            data-aos="flip-right";
            data-aos-delay="500";
            data-aos-duration="1000";
            data-aos-anchor-placement="top";
            class="brighten col l4 s12">

            <a href="https://justcoffee.herokuapp.com/" target="_blank">
                <b>Just Coffee</b>
            </a>

            <a href="https://justcoffee.herokuapp.com/" target="_blank">
                <img class="videos tooltipped" data-tooltip="Template for a full-stack website subscription service." src="" data-src="images/jc01.jpg" alt="Just Coffee thumbnail" class="center block">
            </a>
        </div>


        <div
            data-aos="flip-left";
            data-aos-delay="750";
            data-aos-duration="2000";
            data-aos-anchor-placement="top";
            class="brighten col l4 s12">

            <a href="https://gravyhtx.github.io/weatherapp/" target="_blank">
                <b>Weather App</b>
            </a>

            <a href="https://gravyhtx.github.io/weatherapp/" target="_blank">
                <img class="videos tooltipped" data-tooltip="Weather dashboard with data from the Openweathermap.org API." src="" data-src="images/wa1.jpg" alt="WeatherApp thumbnail" class="center block">
            </a>
            
        </div>


        <div
            data-aos="flip-right";
            data-aos-delay="750";
            data-aos-duration="3000";
            data-aos-anchor-placement="top";
            class="brighten col l4 s12">

            <a href="https://gravyhtx.github.io/SPG/" target="_blank">
                <b>Super Password Generator</b>
            </a>

            <a href="https://gravyhtx.github.io/SPG/" target="_blank">
                <img class="videos tooltipped" data-tooltip="A simple, stylish random password generator." src="" data-src="images/spg1.jpg" alt="SPG thumbnail" class="center block">
            </a>
        </div>

    

    </div>
</div>

<div class="margin-bottom"></div>
{{!-- <div class="container"> --}}


<h3 class="huttese">Creative<br>Direction.</h3>
<br><br>

<div
    data-aos="zoom-out-up";
    data-aos-duration="3000";;
    class="container row col s12">



    <h3><div
        data-aos="flip-up";
        data-aos-delay="500";
        data-aos-duration="1000";
        class="glow">
        Videos
        <br><br>
        </div></h3>

    <div class="center row music-vids">

        <div
            data-aos="flip-right";
            data-aos-delay="500";
            data-aos-duration="2000";
            class="col l4 s12 brighten center">

            <a href="https://www.youtube.com/watch?v=DKxfBNAnQk8" target="_blank">
            
            <img class="videos tooltipped" data-tooltip='"Playas Get Chose" by Slim Thug' alt="Music video for Slim Thug - Playas Get Chose" src="" data-src="images/pgc.png"></a>
            

            <br><br><br>

        </div>

        <div
            data-aos="flip-left";
            data-aos-delay="750";
            data-aos-duration="2500";
            class="col l4 s12 brighten center">

            <a href="https://www.youtube.com/watch?v=xk2m2OvnUtY" target="_blank">
            
            <img class="videos tooltipped" data-tooltip='"Let Me Breathe" by YBN Almighty Jay' alt="Music video for YBN Almighty Jay - Let Me Breathe" src="" data-src="images/lmb.png"></a>
            

            <br><br><br>

        </div>

        <div
            data-aos="flip-right";
            data-aos-delay="1000";
            data-aos-duration="3000";
            class="col l4 s12 brighten center">
            
            <a href="https://www.youtube.com/watch?v=C9AbLvo9s1A" target="_blank">
            
            <img class="videos tooltipped" data-tooltip='"God Save Me" by YBN Almighty Jay' alt="Music video for YBN Almighty Jay" src="" data-src="images/gsm.png"></a>

        </div>


    </div>

    <br><br>

    <h3><div
        data-aos="flip-up";
        data-aos-delay="500";
        data-aos-duration="1000";
        class="glow">
        Art
        <br><br>
        </div></h3>

    <div class="center row music-vids">

        <div
            data-aos="flip-right";
            data-aos-delay="500";
            data-aos-duration="2000";
            class="col l4 s12 brighten center">

            <a href="https://www.behance.net/gallery/83637829/Pirate" target="_blank">
            
            <img class="videos tooltipped" data-tooltip='Pirate' alt='"Pirate" by Grävy Design Co.' src="" data-src="images/pirate.png"></a>
            

            <br><br><br>

        </div>

        <div
            data-aos="flip-left";
            data-aos-delay="750";
            data-aos-duration="2500";
            class="col l4 s12 brighten center">

            <a href="https://www.behance.net/gallery/83637149/Felly-x-Billyracxx-Face" target="_blank">
            
            <img class="videos tooltipped" data-tooltip='Billyraxx x Felly' alt='Album Art for "Let Me Breathe" by Billyraxx x Felly' src="" data-src="images/brxx.png"></a>
            

            <br><br><br>

        </div>

        <div
            data-aos="flip-right";
            data-aos-delay="1000";
            data-aos-duration="3000";
            class="col l4 s12 brighten center">
            
            <a href="https://www.behance.net/gallery/83637641/Lyta-Flower-Collage" target="_blank">
            
            <img class="videos tooltipped" data-tooltip='Lyta' alt="Flower collage for Lyta" src="" data-src="images/lyta.png"></a>

        </div>


    </div>
</div>

<div class="center">
    <div class="margin-bottom"></div>
    {{!-- <div></div> --}}
    
</div>
    
</div>