/* DOCUMENT STYLES */

html,
body {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    overflow-x: hidden;
    color: #c0d0e4 !important;
    background-color: rgb(15, 15, 15);
    background-size: cover;
    scroll-behavior: smooth;
    cursor: default;
    font-family: Helvetica, "Poppins", "Open Sans";
    font-size: 20px;
}

a {
    color: #adc7f5 !important;
}

a:hover {
    cursor: default;
    color: #9fbff1 !important;
}

.links {
  color: #7487aa !important;
}

.links:hover {
  cursor: default;
  color: #4475ca !important;
}

.body {
    text-align: center;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}

.margin-bottom {
    margin-bottom: 200px;
}

.zee {
  z-index: 100;
}

/* .glow {
    -webkit-animation: glow 5s ease-in-out infinite alternate;
    -moz-animation: glow 5s ease-in-out infinite alternate;
    animation: glow 5s ease-in-out infinite alternate;
} */

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.171), 0 0 20px rgba(255, 255, 255, 0.144), 0 0 25px #0064e61f, 0 0 30px #0064e61f, 0 0 35px #008ae61e, 0 0 40px #0036e618, 0 0 50px #005ce60e;
    }
    to {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.212), 0 0 20px #4da9ff1f, 0 0 25px #4da0ff21, 0 0 30px #4dafff1c, 0 0 35px #4d94ff21, 0 0 40px #4da9ff25, 0 0 80prgba(77, 169, 255, 0.123)a6;
    }
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.171), 0 0 20px rgba(255, 255, 255, 0.185), 0 0 25px #0064e633, 0 0 30px #0064e638, 0 0 35px #008ae633, 0 0 40px #0036e625, 0 0 50px #005ce62d;
    }
    to {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.212), 0 0 20px #4da9ff33, 0 0 25px #4da0ff2f, 0 0 30px #4dafff2a, 0 0 35px #4d94ff2c, 0 0 40px #4da9ff27, 0 0 80prgba(77, 169, 255, 0.123)a6;
    }
}

.brighten img {
    -webkit-filter: brightness(75%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.brighten img:hover {
    -webkit-filter: brightness(100%);
}


/* BODY STYLES */

.header {
    position: absolute;
    left: 0;
    top: 0;
}

.logo {
    display: inline-block !important;
    height: 50px;
    margin-left: 10px;
}

.logo>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#porfolio1 {
    width: 2000px;
    object-fit: contain;
    position: absolute;
    opacity: 0.1;
    left: 0;
    top: 0;
    z-index: -1;
}

.img-main {
    width: 50%;
    object-fit: cover;
    display: block;
    size: cover;
    margin: 0 auto;
    margin-bottom: 300px;
    margin-top: 30px;
    -webkit-animation: flicker 4s linear infinite;
    animation: flicker 4s linear infinite;
}

.img-audit {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.music-vids {
  font-size: 14px;
}

.videos {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.05);
    box-shadow: 3px 3px rgba(240, 248, 255, 0.05);
    /* display: block; */
}

.column-words {
    font-size: 18px;
    margin-bottom: 30px !important;
}

.intro-body {
    font-size: 16px !important;
}

.intro-header {
    font-size: 24px !important;
    margin-bottom: 10px;
}

.hit-subscribe {
    background-color: #2e2e2e00 !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 28px !important;
    padding: 5px !important;
    height: 50px !important;
    width: 200px !important;
}

.words {
    padding: 50px !important;
    font-size: 18px;
}

.s1 {
    background-color: rgb(24, 24, 24);
}

.s2 {
    background-color: rgb(238, 238, 238);
}

.sFooter {
    margin-top: 30px !important;
    font-size: 12px !important;
    text-align: center !important;
}

.formclass {
    background-color: white;
    padding: 10px !important;
    border-radius: 20px;
    border: 2px solid rgb(122, 122, 122);
}

.subscribe {
    text-align: center;
    font-weight: bold;
}

.learn-more {
    text-align: center !important;
    /* color: #5277af !important; */
}

.intro {
    text-align: center;
    font-size: 28px;
}


.white {
    background-color: white !important;
}

.below-coffeet {
    text-align: center;
    margin-bottom: 100px !important;
}

.mission-statement {
    color: #343941 !important;
}

.quote {
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.514);
    color: #8393ac;
    padding: 50px;
    padding-bottom: 25px;
    text-align: justify;
    border: 25px solid rgba(203, 245, 255, 0.767);
    font-size: 16px;
    width: 600px !important;
}

.droids {
    text-align: right !important;
    margin-right: 100px;
    margin-bottom: 50px;
}

.more {
    margin-bottom: 200px;
}

.small-text {
    font-size: 18px;
    font-weight: 100;
    margin-left: 100px !important;
    text-align: left !important;
}

.smaller-text {
    font-size: 14px;
}

.signup-form{
    margin: 30px !important;
}

.agreements {
    font-size: 12px;
}

.clients-text {
    margin-bottom: 150px;
}

.submitrow {
    text-align: center;
}

.input-field {
    color: rgb(27, 27, 27) !important;
    background-color: white !important;
}

.submit {
    background-color: #414141 !important;
}

.hit-subscribe {
    background-color: #ffffff !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 16px !important;
    padding: 1px !important;
    height: 40px !important;
    width: 120px !important;
}

.customer-login {
    color: #3b3e42;
    margin-bottom: 30px !important;
}

.customer-cart {
    color: #3b3e42;
}

#login-account {
    margin-top: 20px;
}

#modal-account,
#modal-cart {
    background-color: rgb(255, 254, 247);
    padding: 15px;
    border: 3px solid gray;
    border-radius: 20px;
    text-align: center;
    overflow: scroll;
}

.gray {
    background-color: #282b30;
    padding: 15px;
    color: white !important;
}

.blueish {
    background-color: #c0d0e4 !important;
    color: #2f2f2f91 !important;
    border: 30px solid white;
    padding-bottom: 50px;
}

.yellowbkg {
    background-color: rgb(254, 255, 215);
    padding: 15px;
}

.notamember, .isamember {
    margin-bottom: 20px;
}

.isamember {
    margin-top: 20px;
}

.sm-cart {
    font-size: 14px;
}

.huttese-first {
  font-size: 200px;
  margin-right: 40px;
  text-align: left !important;
}

.huttese {
    font-size: 200px;
    margin-right: 40px;
    text-align: right !important;
}

.choose {
	padding: 20px !important;
    width: 960px;
    overflow: hidden;
}

.s-page {
    padding-left: 20px !important;
}

#submit-subscription {
    background-color: #2e2e2e00 !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 28px !important;
    padding: 5px !important;
    height: 50px !important;
    width: 200px !important;
}


.rightalign {
    text-align: right !important;
    margin: 20px;
}

.margin-top {
    margin-top: 80px;
}

.lorem-words {
    text-align: justify !important;
    font-size: 24px !important;
}

.dont-words {
    text-align: center !important;
}

.intro-words {
    font-size: 20px !important;
}

.block {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
    max-height: 200px;
    width: auto;
}

.accountinfo {
    padding: 30px !important;
    text-align: center !important;
    font-size: 18px;
}

.right {
    text-align: right !important;
}

.btmsp {
    margin-bottom: 10px;
}

.whitebkg {
    border-radius: 40px;
    background-color: white !important;
    padding-top: 30px;
}

.socials {
  width: 30px;
  height: auto;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.glitch .screen{
  -webkit-animation: flicker 5s linear infinite;
  animation: flicker 5s linear infinite;
}

.glitch:before {
    position: absolute;
    z-index: 999999;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: bg-move 2s linear infinite;
            animation: bg-move 2s linear infinite;
    background-size: 100% 8px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(10%, rgba(255,255,255,0.1)), color-stop(10%, transparent), color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,0.1)), color-stop(60%, rgba(255,255,255,0.1)), color-stop(60%, transparent), to(transparent));
    background-image: linear-gradient(0, rgba(255,255,255,0.1) 10%, transparent 10%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 60%, transparent 60%, transparent);

  }
.glitch .figure,
.glitch .figure-mask {
    -webkit-transform: skewX(0deg) scaleY(1);
            transform: skewX(0deg) scaleY(1);
    -webkit-animation: tr-bag 4s linear infinite;
            animation: tr-bag 4s linear infinite;
}
.glitch .clock {
    -webkit-transform: skewX(0deg) scaleY(1);
            transform: skewX(0deg) scaleY(1);
    -webkit-animation: clock-bag 4s linear infinite;
            animation: clock-bag 4s linear infinite;

}
.glitch .clock span:before,
.glitch .clock span:after {
    display: block;
    content: attr(data-time);
    position: absolute;
    top: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
    width: 720px;
    height: 128px;
    clip: rect(0, 900px, 0, 0);
}

#logo {
    -webkit-animation: flicker 5s linear infinite;
    animation: flicker 5s linear infinite;
}



@-webkit-keyframes flicker {
    0% {
        opacity: .8;
    }
    5% {
        opacity: 1;
    }
    18% {
        opacity: .77;
        transform: translate(0px, 0px);
        /* transform: skewY(0deg); */
    }
    18.2% {
        opacity: .74;
        transform: translate(10px, 8px);
        /* transform: skewY(2deg); */
    }
    18.4% {
        opacity: .77;
        transform: translate(0px, 0px);
        /* transform: skewY(0deg); */
    }
    30% {
        opacity: .9;
    }
    37% {
        opacity: .86;
    }
    46% {
        opacity: 1;
    }
    47% {
        opacity: .82;
    }
    48% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    55% {
        opacity: .86;
    }
    61% {
        opacity: .88;
    }
    76% {
        opacity: .92;
    }
    77% {
        opacity: 1;
    }
    88% {
        opacity: .83;
    }
    90.5% {
        transform: translate(0px, 0px);
        transform: skewX(0deg);
    }
    90.7% {
        transform: translate(15px, 0px);
        transform: skewX(-2deg);
    }
    90.9% {
        transform: translate(0px, 0px);
        transform: skewX(-0deg);
    }
    92% {
        opacity: .99;
    }
    93% {
        opacity: .86;
    }
    94% {
        opacity: .94;
    }
    100% {
        opacity: 1;
    }
  }

@keyframes flicker {
    0% {
        opacity: .8;
    }
    5% {
        opacity: 1;
    }
    18% {
        opacity: .77;
        transform: translate(0px, 0px);
        /* transform: skewY(0deg); */
    }
    18.2% {
        opacity: .74;
        transform: translate(10px, 8px);
        /* transform: skewY(2deg); */
    }
    18.4% {
        opacity: .77;
        transform: translate(0px, 0px);
        /* transform: skewY(0deg); */
    }
    30% {
        opacity: .9;
    }
    37% {
        opacity: .86;
    }
    46% {
        opacity: 1;
    }
    47% {
        opacity: .82;
    }
    48% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    55% {
        opacity: .86;
    }
    61% {
        opacity: .88;
    }
    76% {
        opacity: .92;
    }
    77% {
        opacity: 1;
    }
    88% {
        opacity: .83;
    }
    90.5% {
        transform: translate(0px, 0px);
        transform: skewX(0deg);
    }
    90.7% {
        transform: translate(15px, 0px);
        transform: skewX(-2deg);
    }
    90.9% {
        transform: translate(0px, 0px);
        transform: skewX(-0deg);
    }
    92% {
        opacity: .99;
    }
    93% {
        opacity: .86;
    }
    94% {
        opacity: .94;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes c1 {
    0% {
      clip: rect(34px, 9999px, 93px, 0);
    }
    5% {
      clip: rect(65px, 9999px, 85px, 0);
    }
    10% {
      clip: rect(60px, 9999px, 100px, 0);
    }
    15.000000000000002% {
      clip: rect(3px, 9999px, 70px, 0);
    }
    20% {
      clip: rect(90px, 9999px, 17px, 0);
    }
    25% {
      clip: rect(35px, 9999px, 17px, 0);
    }
    30.000000000000004% {
      clip: rect(27px, 9999px, 70px, 0);
    }
    35.00000000000001% {
      clip: rect(61px, 9999px, 68px, 0);
    }
    40% {
      clip: rect(67px, 9999px, 57px, 0);
    }
    45% {
      clip: rect(90px, 9999px, 65px, 0);
    }
    50% {
      clip: rect(50px, 9999px, 78px, 0);
    }
    55% {
      clip: rect(66px, 9999px, 14px, 0);
    }
    60.00000000000001% {
      clip: rect(98px, 9999px, 52px, 0);
    }
    65% {
      clip: rect(95px, 9999px, 32px, 0);
    }
    70.00000000000001% {
      clip: rect(73px, 9999px, 50px, 0);
    }
    75% {
      clip: rect(20px, 9999px, 54px, 0);
    }
    80% {
      clip: rect(91px, 9999px, 32px, 0);
    }
    85% {
      clip: rect(15px, 9999px, 55px, 0);
    }
    90% {
      clip: rect(58px, 9999px, 4px, 0);
    }
    95% {
      clip: rect(82px, 9999px, 41px, 0);
    }
    100% {
      clip: rect(66px, 9999px, 68px, 0);
    }
}


@keyframes c1 {
    0% {
      clip: rect(34px, 9999px, 93px, 0);
    }
    5% {
      clip: rect(65px, 9999px, 85px, 0);
    }
    10% {
      clip: rect(60px, 9999px, 100px, 0);
    }
    15.000000000000002% {
      clip: rect(3px, 9999px, 70px, 0);
    }
    20% {
      clip: rect(90px, 9999px, 17px, 0);
    }
    25% {
      clip: rect(35px, 9999px, 17px, 0);
    }
    30.000000000000004% {
      clip: rect(27px, 9999px, 70px, 0);
    }
    35.00000000000001% {
      clip: rect(61px, 9999px, 68px, 0);
    }
    40% {
      clip: rect(67px, 9999px, 57px, 0);
    }
    45% {
      clip: rect(90px, 9999px, 65px, 0);
    }
    50% {
      clip: rect(50px, 9999px, 78px, 0);
    }
    55% {
      clip: rect(66px, 9999px, 14px, 0);
    }
    60.00000000000001% {
      clip: rect(98px, 9999px, 52px, 0);
    }
    65% {
      clip: rect(95px, 9999px, 32px, 0);
    }
    70.00000000000001% {
      clip: rect(73px, 9999px, 50px, 0);
    }
    75% {
      clip: rect(20px, 9999px, 54px, 0);
    }
    80% {
      clip: rect(91px, 9999px, 32px, 0);
    }
    85% {
      clip: rect(15px, 9999px, 55px, 0);
    }
    90% {
      clip: rect(58px, 9999px, 4px, 0);
    }
    95% {
      clip: rect(82px, 9999px, 41px, 0);
    }
    100% {
      clip: rect(66px, 9999px, 68px, 0);
    }
}
@-webkit-keyframes c2 {
    0% {
      clip: rect(80px, 9999px, 33px, 0);
    }
    5% {
      clip: rect(56px, 9999px, 64px, 0);
    }
    10% {
      clip: rect(25px, 9999px, 76px, 0);
    }
    15.000000000000002% {
      clip: rect(5px, 9999px, 2px, 0);
    }
    20% {
      clip: rect(37px, 9999px, 52px, 0);
    }
    25% {
      clip: rect(54px, 9999px, 96px, 0);
    }
    30.000000000000004% {
      clip: rect(18px, 9999px, 97px, 0);
    }
    35.00000000000001% {
      clip: rect(44px, 9999px, 19px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 82px, 0);
    }
    45% {
      clip: rect(76px, 9999px, 78px, 0);
    }
    50% {
      clip: rect(32px, 9999px, 92px, 0);
    }
    55% {
      clip: rect(69px, 9999px, 12px, 0);
    }
    60.00000000000001% {
      clip: rect(7px, 9999px, 33px, 0);
    }
    65% {
      clip: rect(13px, 9999px, 51px, 0);
    }
    70.00000000000001% {
      clip: rect(60px, 9999px, 94px, 0);
    }
    75% {
      clip: rect(67px, 9999px, 31px, 0);
    }
    80% {
      clip: rect(3px, 9999px, 19px, 0);
    }
    85% {
      clip: rect(24px, 9999px, 56px, 0);
    }
    90% {
      clip: rect(18px, 9999px, 36px, 0);
    }
    95% {
      clip: rect(38px, 9999px, 40px, 0);
    }
    100% {
      clip: rect(91px, 9999px, 77px, 0);
    }
    23% {
      -webkit-transform: scaleX(0.8);
              transform: scaleX(0.8);
    }
}
@keyframes c2 {
    0% {
      clip: rect(80px, 9999px, 33px, 0);
    }
    5% {
      clip: rect(56px, 9999px, 64px, 0);
    }
    10% {
      clip: rect(25px, 9999px, 76px, 0);
    }
    15.000000000000002% {
      clip: rect(5px, 9999px, 2px, 0);
    }
    20% {
      clip: rect(37px, 9999px, 52px, 0);
    }
    25% {
      clip: rect(54px, 9999px, 96px, 0);
    }
    30.000000000000004% {
      clip: rect(18px, 9999px, 97px, 0);
    }
    35.00000000000001% {
      clip: rect(44px, 9999px, 19px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 82px, 0);
    }
    45% {
      clip: rect(76px, 9999px, 78px, 0);
    }
    50% {
      clip: rect(32px, 9999px, 92px, 0);
    }
    55% {
      clip: rect(69px, 9999px, 12px, 0);
    }
    60.00000000000001% {
      clip: rect(7px, 9999px, 33px, 0);
    }
    65% {
      clip: rect(13px, 9999px, 51px, 0);
    }
    70.00000000000001% {
      clip: rect(60px, 9999px, 94px, 0);
    }
    75% {
      clip: rect(67px, 9999px, 31px, 0);
    }
    80% {
      clip: rect(3px, 9999px, 19px, 0);
    }
    85% {
      clip: rect(24px, 9999px, 56px, 0);
    }
    90% {
      clip: rect(18px, 9999px, 36px, 0);
    }
    95% {
      clip: rect(38px, 9999px, 40px, 0);
    }
    100% {
      clip: rect(91px, 9999px, 77px, 0);
    }
    23% {
      -webkit-transform: scaleX(0.8);
              transform: scaleX(0.8);
    }
}
@-webkit-keyframes clock-bag {
    0% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    2% {
      -webkit-transform: translate(5px, 1px);
              transform: translate(5px, 1px);
    }
    4% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    6% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    8% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    10% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    12% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    14.000000000000002% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    16% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    18% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    20% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    22% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    24% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    26% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    28.000000000000004% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    30% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    32% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    34% {
      -webkit-transform: translate(3px, 3px);
              transform: translate(3px, 3px);
    }
    36% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    38% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    40% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    42% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    44% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    46.00000000000001% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    48% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    50% {
      -webkit-transform: translate(3px, 1px);
              transform: translate(3px, 1px);
    }
    52% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    54% {
      -webkit-transform: translate(3px, 2px);
              transform: translate(3px, 2px);
    }
    56.00000000000001% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    58% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    60% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    62% {
      -webkit-transform: translate(2px, 4px);
              transform: translate(2px, 4px);
    }
    64% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    66% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    68% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    70.00000000000001% {
      -webkit-transform: translate(5px, 1px);
              transform: translate(5px, 1px);
    }
    72% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    74% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    76% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    78% {
      -webkit-transform: translate(3px, 3px);
              transform: translate(3px, 3px);
    }
    80% {
      -webkit-transform: translate(3px, 1px);
              transform: translate(3px, 1px);
    }
    82.00000000000001% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    84% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    86% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    88% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    90% {
      -webkit-transform: translate(2px, 3px);
              transform: translate(2px, 3px);
    }
    92.00000000000001% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    94% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    96% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    98% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    100% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    1% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    1.5% {
      -webkit-transform: scaleY(3) skewX(-60deg);
              transform: scaleY(3) skewX(-60deg);
    }
    2% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    51% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
    52% {
      -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
              transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    }
    53% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
}
@keyframes clock-bag {
    0% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    2% {
      -webkit-transform: translate(5px, 1px);
              transform: translate(5px, 1px);
    }
    4% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    6% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    8% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    10% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    12% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    14.000000000000002% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    16% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    18% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    20% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    22% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    24% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    26% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    28.000000000000004% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    30% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    32% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    34% {
      -webkit-transform: translate(3px, 3px);
              transform: translate(3px, 3px);
    }
    36% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    38% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    40% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    42% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    44% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    46.00000000000001% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    48% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    50% {
      -webkit-transform: translate(3px, 1px);
              transform: translate(3px, 1px);
    }
    52% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    54% {
      -webkit-transform: translate(3px, 2px);
              transform: translate(3px, 2px);
    }
    56.00000000000001% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    58% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    60% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    62% {
      -webkit-transform: translate(2px, 4px);
              transform: translate(2px, 4px);
    }
    64% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    66% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    68% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    70.00000000000001% {
      -webkit-transform: translate(5px, 1px);
              transform: translate(5px, 1px);
    }
    72% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    74% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    76% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    78% {
      -webkit-transform: translate(3px, 3px);
              transform: translate(3px, 3px);
    }
    80% {
      -webkit-transform: translate(3px, 1px);
              transform: translate(3px, 1px);
    }
    82.00000000000001% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    84% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    86% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    88% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    90% {
      -webkit-transform: translate(2px, 3px);
              transform: translate(2px, 3px);
    }
    92.00000000000001% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    94% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    96% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    98% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    100% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    1% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    1.5% {
      -webkit-transform: scaleY(3) skewX(-60deg);
              transform: scaleY(3) skewX(-60deg);
    }
    2% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    51% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
    52% {
      -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
              transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    }
    53% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
}
@-webkit-keyframes tr-bag {
    0% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    2% {
      -webkit-transform: translate(3px, 2px);
              transform: translate(3px, 2px);
    }
    4% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    6% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    8% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    10% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    12% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    14.000000000000002% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    16% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    18% {
      -webkit-transform: translate(3px, 3px);
              transform: translate(3px, 3px);
    }
    20% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    22% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    24% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    26% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    28.000000000000004% {
      -webkit-transform: translate(2px, 4px);
              transform: translate(2px, 4px);
    }
    30% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    32% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    34% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    36% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    38% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    40% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    42% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    44% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    46.00000000000001% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    48% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    50% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    52% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    54% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    56.00000000000001% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    58% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    60% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    62% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    64% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    66% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    68% {
      -webkit-transform: translate(5px, 2px);
              transform: translate(5px, 2px);
    }
    70.00000000000001% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    72% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    74% {
      -webkit-transform: translate(5px, 2px);
              transform: translate(5px, 2px);
    }
    76% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    78% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    80% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    82.00000000000001% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    84% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    86% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    88% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    90% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    92.00000000000001% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    94% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    96% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    98% {
      -webkit-transform: translate(3px, 2px);
              transform: translate(3px, 2px);
    }
    100% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    1% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    1.5% {
      -webkit-transform: scaleY(3) skewX(-60deg);
              transform: scaleY(3) skewX(-60deg);
    }
    2% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    51% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
    52% {
      -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
              transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    }
    53% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
}
@keyframes tr-bag {
    0% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    2% {
      -webkit-transform: translate(3px, 2px);
              transform: translate(3px, 2px);
    }
    4% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    6% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    8% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    10% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    12% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    14.000000000000002% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    16% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    18% {
      -webkit-transform: translate(3px, 3px);
              transform: translate(3px, 3px);
    }
    20% {
      -webkit-transform: translate(4px, 5px);
              transform: translate(4px, 5px);
    }
    22% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    24% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    26% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    28.000000000000004% {
      -webkit-transform: translate(2px, 4px);
              transform: translate(2px, 4px);
    }
    30% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    32% {
      -webkit-transform: translate(5px, 4px);
              transform: translate(5px, 4px);
    }
    34% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    36% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    38% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    40% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    42% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    44% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    46.00000000000001% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    48% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    50% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    52% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    54% {
      -webkit-transform: translate(4px, 3px);
              transform: translate(4px, 3px);
    }
    56.00000000000001% {
      -webkit-transform: translate(1px, 4px);
              transform: translate(1px, 4px);
    }
    58% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    60% {
      -webkit-transform: translate(5px, 3px);
              transform: translate(5px, 3px);
    }
    62% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    64% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    66% {
      -webkit-transform: translate(4px, 1px);
              transform: translate(4px, 1px);
    }
    68% {
      -webkit-transform: translate(5px, 2px);
              transform: translate(5px, 2px);
    }
    70.00000000000001% {
      -webkit-transform: translate(3px, 5px);
              transform: translate(3px, 5px);
    }
    72% {
      -webkit-transform: translate(1px, 2px);
              transform: translate(1px, 2px);
    }
    74% {
      -webkit-transform: translate(5px, 2px);
              transform: translate(5px, 2px);
    }
    76% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    78% {
      -webkit-transform: translate(5px, 5px);
              transform: translate(5px, 5px);
    }
    80% {
      -webkit-transform: translate(1px, 3px);
              transform: translate(1px, 3px);
    }
    82.00000000000001% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    84% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    86% {
      -webkit-transform: translate(2px, 1px);
              transform: translate(2px, 1px);
    }
    88% {
      -webkit-transform: translate(4px, 2px);
              transform: translate(4px, 2px);
    }
    90% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    92.00000000000001% {
      -webkit-transform: translate(1px, 5px);
              transform: translate(1px, 5px);
    }
    94% {
      -webkit-transform: translate(4px, 4px);
              transform: translate(4px, 4px);
    }
    96% {
      -webkit-transform: translate(2px, 5px);
              transform: translate(2px, 5px);
    }
    98% {
      -webkit-transform: translate(3px, 2px);
              transform: translate(3px, 2px);
    }
    100% {
      -webkit-transform: translate(3px, 4px);
              transform: translate(3px, 4px);
    }
    1% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    1.5% {
      -webkit-transform: scaleY(3) skewX(-60deg);
              transform: scaleY(3) skewX(-60deg);
    }
    2% {
      -webkit-transform: scaleY(1) skewX(0deg);
              transform: scaleY(1) skewX(0deg);
    }
    51% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
    52% {
      -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
              transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    }
    53% {
      -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
              transform: scaleX(1) scaleY(1) skewX(0deg);
    }
}
@-webkit-keyframes bg-move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -32px;
    }
}
@keyframes bg-move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -32px;
    }
}




/* iPad Styles */

@media only screen and (max-width: 768px) {
    
    .column-words {
        font-size: 12px;
        margin-bottom: 20px !important;
    }

    .img-main {
        margin-bottom: -20px;
        width: 70%;
    }
    .blueish {
        padding: 5px !important;
        text-align: justify;
        margin: 1px !important;
    }

    .words {
        padding: 10px !important;
        font-size: 16px;
    }

    .coffeet {
        /* height: 200px; */
        width: 100%;
        height: 100%;
        border: 20px solid rgb(250, 255, 203);
        margin: 0 auto;
        text-align: center !important;
    }
    
    .quote {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.315);
        color: #8393ac;
        padding: 25px;
        padding-bottom: 10px;
        text-align: justify;
        border: 10px solid rgba(203, 245, 255, 0.37);
        font-size: 14px;
    }

    .small-text {
        margin: 0 auto !important;
        font-size: 18px;
        padding: -50px;
    }

    .huttese {
        text-align: right;
        max-width: 768px;
    }

    .profile-details {
        font-size: 14px;
    }

    .h3profile {
        font-size: 20px;
    }

    .brighten img {
      -webkit-filter: brightness(100%);
  }

}

/* Mobile Styles */

@media only screen and (max-width: 400px) {

    html,
    body {
        padding: -5px;
    }

    .column-words {
        font-size: 12px;
    }

    .words {
        padding: 10px !important;
        font-size: 16px;
    }

    .porfoliot {
        /* height: 200px; */
        border: 10px solid rgb(250, 255, 203);
        margin-left: 10px;
    }
    
    .quote {
        font-style: italic;
        color: #8393ac;
        padding: 25px;
        padding-bottom: 10px;
        text-align: justify;
        border: 10px solid rgba(203, 245, 255, 0.37);
        font-size: 14px;
        width: 300px !important;
    }

    .img-main {
        margin-bottom: -40px;
    }

    .margin-bottom {
      margin-bottom: 400px;
  }

    .clients {
        margin-top: 150px;
    }

    .clients-text {
        margin-bottom: 50px;
    }

    .small-text {
        padding: -5px !important;
        font-size: 12px;
        text-align: justify !important;
        padding: 18px !important;
    }

    .choose {
        text-align: right;
    }

    .huttese {
        margin-right: 20px !important;
        margin-top: 10px;
        text-align: right !important;
        font-size: 80px;
    }

    .videos {
      max-width: 250px;
      height: auto;
    }

    .more {
        margin-bottom: 1200px !important;
        /* color: #6c80a0 !important; */
    }

    .droids {
        margin: 0 auto !important;
        margin-bottom: 50px !important;
    }

}


/* glitch effect based on code by Konstantin (https://codepen.io/fearOfCode/pen/FsGtu) Copyright (c) 2020  */